model_1_pa_chains_1_thin_1_samples_1000.Rdata
mixing_1_pa_chains_2_thin_1_samples_1000.Rdata
model_1_abundance_chains_2_thin_10_samples_100.Rdata
model_1_pa_chains_2_thin_10_samples_100.Rdata
model_1_pa_chains_2_thin_10_samples_1000_withNPP.Rdata
model_1_pa_chains_2_thin_10_samples_1000_withoutNPP.Rdata
model_1_pa_chains_2_thin_1_samples_1000.Rdata
hmsc_pred_Bryozoan_Hard_BrAnt.tif
hmsc_pred_Bryozoan_Hard_Branching_Antler_maybe_dead.tif
hmsc_pred_Bryozoan_Hard_Branching_Head.tif
hmsc_pred_Bryozoan_Hard_Branching_Leaf.tif
hmsc_pred_Bryozoan_Hard_Branching_Leaf_maybe_dead.tif
hmsc_pred_Bryozoan_Hard_Branching_Short.tif
hmsc_pred_Bryozoan_Hard_Encr.tif
hmsc_pred_Bryozoan_Hard_Fenestr.tif
hmsc_pred_Bryozoan_Hard_Lettuce.tif
hmsc_pred_Bryozoan_Hard_Lettuce_maybe_dead.tif
hmsc_pred_Bryozoan_Purple.tif
hmsc_pred_Bryozoan_Soft_Dendroid.tif
hmsc_pred_Bryozoan_Soft_Foliaceous.tif
hmsc_pred_Fish_eggs.tif
hmsc_pred_UBS_B.tif
hmsc_pred_abund_Bryozoan_Hard_BrAnt.tif
hmsc_pred_abund_Bryozoan_Hard_Branching_Leaf.tif
hmsc_pred_abund_Bryozoan_Hard_Lettuce.tif
hmsc_pred_abund_UBS_B.tif
biodiversity_fit_bcover.Rdata
biodiversity_fit_bcover_glm_pred.Rdata
biodiversity_fit_bcover_glmm_pred.Rdata
biodiversity_fit_scover.Rdata
biodiversity_fit_scover_glm_pred.Rdata
biodiversity_fit_scover_glmm_pred.Rdata
biodiversityhmsc_pred_Bryozoan_Hard_BrAnt.Rdata
hmsc_model_cell_grid.Rdata
hmsc_model_cell_sel.Rdata
pred_files
